.idea/
.gradle/
/build/
.idea_modules/

gradle-app.setting
.gradletasknamecache
cmake-build-debug/
.idea/**/mongoSettings.xml
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
/venv/
/java/build/
/java/src/main/generated/
/rpg/build/
/spring/build/
