# IntelliJ
.idea/
/build/
.idea_modules/
# Created by .ignore support plugin (hsz.mobi)
gradle-app.setting
.gradletasknamecache
cmake-build-debug/
.idea/**/mongoSettings.xml
*.iws
out/
venv/
atlassian-ide-plugin.xml
.idea/replstate.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
/db/
build/
!/gradle/tasks.gradle
!/gradle/wrapper.gradle
!/gradle/dependecies.gradle
!/gradle/
!/codestyle/livetemplate.jar
/data/lotto/euro-hotpicks-all-draws.csv
/python/tools/lotto/result_drain.py
!/data/lotto/euro-hotpicks-all-draws.csv
