<!DOCTYPE html>
<html lang="en-GB" xmlns:th="http://www.thymeleaf.org">
https://www.baeldung.com/thymeleaf-list
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Dom's Aber RPG</title>
</head>
<body>
<h2><span th:text="${player}"></span></h2>
<table>
    <tr>
        <th>=</th>
        <th>=</th>
        <th>=</th>
        <th>=</th>
        <th>=</th>
        <th>=</th>
        <th>=</th>
    </tr>
    <tr>
        <td><span th:text="${map[0]}"></span></td>
        <td><span th:text="${map[1]}"></span></td>
        <td><span th:text="${map[2]}"></span></td>
        <td><span th:text="${map[3]}"></span></td>
        <td><span th:text="${map[4]}"></span></td>
        <td><span th:text="${map[5]}"></span></td>
        <td><span th:text="${map[6]}"></span></td>
    </tr>
    <tr>
        <td><span th:text="${map[7]}"></span></td>
        <td><span th:text="${map[8]}"></span></td>
        <td><span th:text="${map[9]}"></span></td>
        <td><span th:text="${map[10]}"></span></td>
        <td><span th:text="${map[11]}"></span></td>
        <td><span th:text="${map[12]}"></span></td>
        <td><span th:text="${map[13]}"></span></td>

    </tr>
    <tr>
        <td><span th:text="${map[14]}"></span></td>
        <td><span th:text="${map[15]}"></span></td>
        <td><span th:text="${map[16]}"></span></td>
        <td><span th:text="${map[17]}"></span></td>
        <td><span th:text="${map[18]}"></span></td>
        <td><span th:text="${map[19]}"></span></td>
        <td><span th:text="${map[20]}"></span></td>
    </tr>
    <tr>
        <td><span th:text="${map[21]}"></span></td>
        <td><span th:text="${map[22]}"></span></td>
        <td><span th:text="${map[23]}"></span></td>
        <td><span th:text="${map[24]}"></span></td>
        <td><span th:text="${map[25]}"></span></td>
        <td><span th:text="${map[26]}"></span></td>
        <td><span th:text="${map[27]}"></span></td>
    </tr>
    <tr>

        <td><span th:text="${map[28]}"></span></td>
        <td><span th:text="${map[29]}"></span></td>
        <td><span th:text="${map[30]}"></span></td>
        <td><span th:text="${map[31]}"></span></td>
        <td><span th:text="${map[32]}"></span></td>
        <td><span th:text="${map[33]}"></span></td>
        <td><span th:text="${map[34]}"></span></td>
    </tr>
    <tr>
        <td><span th:text="${map[35]}"></span></td>
        <td><span th:text="${map[36]}"></span></td>
        <td><span th:text="${map[37]}"></span></td>
        <td><span th:text="${map[38]}"></span></td>
        <td><span th:text="${map[39]}"></span></td>
        <td><span th:text="${map[40]}"></span></td>
        <td><span th:text="${map[41]}"></span></td>
    </tr>

</table>
<table>
    <tr>
        <th>.</th>
        <th><span th:text="'Went ' + ${direction}"></span></th>
        <th>.</th>
    </tr>
</table>
<table>
    <tr>
        <td></td>
        <td><a href="/game/world/move/north">N</a></td>
        <td></td>
    </tr>
    <tr>
        <td><a href="/game/world/move/west">W</a></td>
        <td></td>
        <td><a href="/game/world/move/east">E</a></td>
    </tr>
    <tr>
        <td></td>
        <td><a href="/game/world/move/south">S</a></td>
        <td></td>
    </tr>

</table>
<ul>
    <li>
        <a href="/game/event">Explore</a>
    </li>
    <li>
        <a href="/player/spells/world">Spells</a>
    </li>
    <li>
        <a href="/player/inventory">Invertory</a>
    </li>
</ul>
</body>
</html>