<!DOCTYPE html>
<html lang="en-GB" xmlns:th="http://www.thymeleaf.org">
https://www.baeldung.com/thymeleaf-list
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Dom's Aber RPG</title>
</head>
<body>
<h1>Main menu</h1>
<table>
    <tr>
        <th>=</th>
        <th>=</th>
        <th>=</th>
        <th>=</th>
        <th>=</th>
        <th>=</th>
        <th>=</th>
    </tr>
    <tr>
        <td>#</td>
        <td>#</td>
        <td>#</td>
        <td>#</td>
        <td>#</td>
        <td>#</td>
        <td>#</td>
    </tr>
    <tr>
        <td>#</td>
        <td>.</td>
        <td>.</td>
        <td>O</td>
        <td>.</td>
        <td>.</td>
        <td>#</td>
    </tr>
    <tr>
        <td>#</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>#</td>
    </tr>
    <tr>
        <td>#</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>O</td>
        <td>.</td>
        <td>#</td>
    </tr>
    <tr>
        <td>#</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>O</td>
        <td>.</td>
        <td>#</td>
    </tr>
    <tr>
        <td>#</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>#</td>
    </tr>
    <tr>
        <td>#</td>
        <td>#</td>
        <td>#</td>
        <td>#</td>
        <td>#</td>
        <td>#</td>
        <td>#</td>
    </tr>

</table>
<table>
    <tr>
        <th>.</th>
        <th><span th:text="'Went ' + ${direction}"></span></th>
        <th>.</th>
    </tr>
    <tr>
        <td></td>
        <td><a href="/game/world/move/north">N</a></td>
        <td></td>
    </tr>
    <tr>
        <td><a href="/game/world/move/west">W</a></td>
        <td></td>
        <td><a href="/game/world/move/east">E</a></td>
    </tr>
    <tr>
        <td></td>
        <td><a href="/game/world/move/south">S</a></td>
        <td></td>
    </tr>

</table>
<ul>
    <li>
        <a href="/game/event">Explore</a>
    </li>
    <li>
        <a href="/player/spells/world">Spells</a>
    </li>
    <li>
        <a href="/player/inventory">Invertory</a>
    </li>
</ul>
</body>
</html>