<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>

        <title>Dom's Aber RPG</title>
    </head>
    <body>
        <h1>ABOUT GAME</h1>
        <p>You will have a privilege to play the worst and most untalented hero.
            The game is full of the action, drama, dragons and all stuff, which proper fantasy game should have, but
            that's not all.
            As every copy other ideas game, this game includes zombies and aliens and even internet and kebabs shops!
        </p>

        <p>It will reveal secrets of Aberystwyth like:</p>
        <ul>
            <li>Why was the university built on top of the hill?</li>
            <li>Why carpet in pier pressure smell so bad?</li>
            <li>Why is Arriva called service from hell?</li>
            <li>Why is it raining in the UK?</li>
            <li>Why are some many girls fat?</li>
            <li>And more.</li>
        </ul>

        <p>Any resemblance to actual people, places and situations are purely incidental and accidental. (Well sort
            of.)
        </p>

        <ul>
            <li>
                <a href="/menu">Go back to menu</a>
            </li>
        </ul>
    </body>
</html>