{{>header}}
{{#trainList}}
    <b> Class: </b>{{britishClass}}<br/>
    <b> Name: </b>{{name}}<br/>
    <b> Type: </b>{{type}}<br/>
    <b> Top Speed: </b>{{maxSpeed}} km/h<br/>
    <b> Tilting: </b>{{tilting}}<br/>
    <br/><br/>
{{/trainList}}
{{>footer}}