<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Transport</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p th:text="'You select, ' + ${option} + '!'"/>
<ul>
    <li>Display Underground Statistic</li>
    <li><a href="/all-station">Display Status For All Stations</a> </li>
    <li>Display Status For Selected Station</li>
    <li>Update Station Status To Passed</li>
    <li>Update Station Status To Visited</li>
    <li>Blogged</li>
    <li>Save</li>
    <li>Load Station</li>
    <li>Display All Stations Name</li>
    <li>Display Status For Specific Line</li>
</ul>
</body>
</html>